.product-item {
    border-radius: .7em;
    // border-bottom-left-radius: .3em;
    // border-bottom-right-radius: .3em;
    margin: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 3px rgb(141, 136, 136);
    background: #fafafa;
    .img-container {
        width: inherit;
        background: white;
        // padding: 20px;
        img {
            max-width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 250px;
        }
    }
    .body-container {
        padding: 10px;
        h3 {
            font-family: "Grandstander", cursive;
            span {
                color: rgb(51, 48, 48);
                float: right;
                &::before {
                    content: "$"
                }
            }
        }
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: rgb(136, 131, 131);
            font-family: "Grandstander", cursive;
        }
        .btn-container {
            width: 100%;
            display: flex;
            justify-content: center;
            button.addcart {
                font-family: "Grandstander", cursive;
                text-align: center;
                padding: 10px 20px 10px 20px;
                border-radius: 50px;
                background: rgb(42, 168, 42);
                border: none;
                color: #fafafa;
                outline: none;
                &:focus {
                    outline: none;
                }
                &.added {
                    background: rgb(77, 182, 77);
                }
                &:hover {
                    background: rgb(77, 182, 77);
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
        }
    }
}